/* Apply a common style to all sections */
section {
    margin-bottom: 20px;
  }
  
  /* Header styles */
  header {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  /* Skills list styles */
  ul {
    
    padding: 0;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  /* Project styles */
  .project {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .project a {
    display: block;
    margin-top: 10px;
  }
  
  /* Contact section styles */
  #contact p {
    margin-bottom: 5px;
  }
  
  #contact a {
    text-decoration: none;
    color: blue;
  }
  
  #contact a:hover {
    text-decoration: underline;
  }
  
  /* Footer styles */
  footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
  }
  